* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  margin: 16px;
  font-family:
    'Montserrat',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

h2 {
  margin: 0;
  margin-top: 0;
}

/* task-1 styles */

ul {
  list-style: none;
  padding: 0;
}

.item {
  width: 360px;
  background-color: #f6f6fe;
  padding: 16px;
  margin-bottom: 24px;
}

.item ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item h2 {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.item li {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;

  display: flex;
  align-items: center;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 0 8px 16px;
}

/* task-2 styles */

ul.gallery {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.gallery-item {
  flex: 1 1 calc((100% - 48px) / 3);
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  overflow: hidden;
}

.gallery-image {
  width: 100%;
  height: 300px;
  display: block;
  object-fit: cover;
  border-radius: 4px;
}

/* task-3 styles */

#name-input {
  width: 360px;
  height: 40px;
  padding: 8px 0 8px 16px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
}

#name-input:focus {
  border-color: #2e2f42;
  box-shadow: 0 0 3px rgba(46, 47, 66, 0.5);
}

h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3333;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-top: 16px;
}

/* task-4 styles */

.login-form {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin: 0;
}

.login-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.login-form input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-bottom: 16px;
  outline: none;
}

.login-form button[type='submit'] {
  width: 86px;
  height: 40px;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  align-self: flex-start;
  transition: background 0.3s ease;
}

.login-form button[type='submit']:hover {
  background: #3a5bcc;
}

/* task-5 styles */

.widget {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: max-content;
  font-family: 'Montserrat', sans-serif;
}

.widget p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin: 0;
}

.widget .color {
  font-weight: 500;
  margin-left: 4px;
}

.widget .change-color {
  width: 148px;
  height: 40px;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease;
  align-self: flex-start;
}

.widget .change-color:hover {
  background: #3a5bcc;
}
